$blue-highlight: #419AF1;
$blue: #0988BB;
$purple: #B490E3;
$grey-d: #d4d4d4;
$grey-f: #f1f1f2;
$grey-9: #999;
$grey-b: #B7B7B7;
$grey-border: #D8D8D8;


$screen-sm: 769px;
$screen-lg: 1200px;


$sans: Helvetica, Arial, sans-serif;
$serif: Volkhov-Regular, Volkhov-Regular-Extra, Georgia, serif;
