body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; }

ul { padding: 0; }

ul li { list-style-type: none; }

ul.horiz-box li { display: inline-block; }

hr { border-top: 1px solid #d4d4d4; margin: 10px 0; }

.mobile-only { display: none; }

.no-pad { padding: 0; }

footer { background-color: #f4f4f0; color: #333; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; padding-top: 40px; }

.timeline-container, .generic-container, .contenttype-container, .user-container { padding: 0 15px 15px; }

.intro { padding-bottom: 20px; text-align: center; }

.intro li { padding: 0 16px; vertical-align: bottom; }

.intro li:first-child { border-right: 1px solid #d4d4d4; }

.intro p { margin: 0 auto; padding-top: 10px; width: 75%; }

.tooltip.top .tooltip-arrow { border-top-color: #999; }

.tooltip-inner { background-color: #999; white-space: pre; max-width: none; }

.truncate { display: inline-block; width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; visibility: hidden; }

@media (min-width: 1200px) { .container { width: 1170px; } }

@media (max-width: 1025px) { .truncate { width: 115px; } }

@media (max-width: 768px) { .truncate { width: 255px; } }

@media (max-width: 769px) { .truncate { width: 95px; }
  .mobile-only { display: block; }
  header { display: none; }
  nav { margin-bottom: 0px !important; }
  .navbar-fixed-top { position: absolute; }
  .container { margin: 0 auto; padding: 0 15px; }
  .intro { padding-top: 50px; }
  .intro li:first-child { border: 0; }
  .intro p { width: 100%; }
  .no-pad { padding: 0 15px; }
  footer { margin: 0 auto; padding-left: 15px; padding-right: 15px; } }

@media (max-width: 300px) { .truncate { width: 60px; } }

h1 { font-size: 24px; margin-bottom: 0; }

h2 { font-size: 14px; font-weight: 700; margin: 15px 15px 0; text-transform: uppercase; }

h2 span { font-size: 13px; font-weight: 400; text-transform: none; }

h3 { font-size: 14px; line-height: 18px; font-weight: 700; margin: 0; }

h3 span { color: #999; font-weight: normal; }

h4, .h4 { font-size: 11px; font-weight: 100; text-transform: uppercase; }

.chart-container { background-color: #fff; border: 2px solid #D8D8D8; box-shadow: 1px 1px 8px #d4d4d4; min-height: 320px; margin: 15px 0; opacity: 1; overflow: hidden; padding: 10px 14px 5px; position: relative; width: 100%; }

.chart-container .title .fa { color: #999; font-size: 8px; padding: 0 9px 0 6px; vertical-align: 2px; }

.chart-container .citation { color: #999; font-size: 11px; margin: 10px 0 0; min-height: 14px; }

.chart-container .chart-inner { height: 248px; overflow-x: hidden; overflow-y: hidden; text-align: center; }

.chart-container .chart-inner:hover { overflow-y: auto; }

.chart-container .chart-inner .chart, .chart-container .chart-inner .user-chart { background: transparent url("../img/chart-bg.png") repeat 0 0; display: block; padding: 12px 10px 0; transition: all 0.5s ease; width: 100%; }

.chart-container .chart-inner .chart .label, .chart-container .chart-inner .chart .count, .chart-container .chart-inner .user-chart .label, .chart-container .chart-inner .user-chart .count { cursor: default; fill: #999; font: 14px Helvetica, Arial, sans-serif; }

.chart-container .chart-inner .chart .count, .chart-container .chart-inner .user-chart .count { fill: black; font-size: 16px; text-anchor: end; }

.chart-container .chart-inner .chart .arc text, .chart-container .chart-inner .user-chart .arc text { text-anchor: middle; }

.chart-container .chart-inner .chart .arc path, .chart-container .chart-inner .user-chart .arc path { stroke: #fff; }

.chart-container .chart-inner .chart.user_gender, .chart-container .chart-inner .chart.user_device, .chart-container .chart-inner .user-chart.user_gender, .chart-container .chart-inner .user-chart.user_device { background: none; min-height: 248px; padding-top: 0; margin-top: -10px; }

.chart-container .chart-inner .chart.timeline-chart, .chart-container .chart-inner .user-chart.timeline-chart { background: none; padding: 0; }

.chart-container .chart-inner .chart.timeline-chart .axis path, .chart-container .chart-inner .chart.timeline-chart .axis line, .chart-container .chart-inner .user-chart.timeline-chart .axis path, .chart-container .chart-inner .user-chart.timeline-chart .axis line { fill: none; stroke: #d4d4d4; }

.chart-container .chart-inner .chart.timeline-chart .line, .chart-container .chart-inner .user-chart.timeline-chart .line { fill: none; stroke: #0988BB; stroke-width: 2px; }

.chart-container .chart-inner .chart.timeline-chart .tick text, .chart-container .chart-inner .user-chart.timeline-chart .tick text { fill: #999; font-size: 11px; text-anchor: end; }

.chart-container .chart-inner .chart.timeline-chart .tick line, .chart-container .chart-inner .user-chart.timeline-chart .tick line { opacity: 1; }

.chart-container .chart-inner .chart.timeline-chart .area, .chart-container .chart-inner .user-chart.timeline-chart .area { fill: rgba(9, 136, 187, 0.5); stroke-width: 0; }

.chart-container .chart-inner .chart.timeline-chart .dot, .chart-container .chart-inner .user-chart.timeline-chart .dot { opacity: 0; fill: #0988BB; }

.chart-container .chart-inner .chart.timeline-chart.yearMonth .line, .chart-container .chart-inner .user-chart.timeline-chart.yearMonth .line { stroke: #B490E3; }

.chart-container .chart-inner .chart.timeline-chart.yearMonth .area, .chart-container .chart-inner .user-chart.timeline-chart.yearMonth .area { fill: rgba(180, 144, 227, 0.5); }

.chart-container .chart-inner .chart.timeline-chart.yearMonth .dot, .chart-container .chart-inner .user-chart.timeline-chart.yearMonth .dot { fill: #B490E3; }

.chart-container .chart-inner.loading .chart, .chart-container .chart-inner.loading .user-chart { opacity: 0.3; }

.chart-container .chart-inner.loading .loader { display: block; }

.chart-container .chart-inner.nodata { overflow-x: hidden; overflow-y: hidden; }

.chart-container .chart-inner.nodata .chart, .chart-container .chart-inner.nodata .user-chart { opacity: 0; }

.chart-container .chart-inner.nodata .nodata-msg { display: block; }

.chart-container .chart-inner .nodata-msg { display: none; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 100%; }

.chart-container .chart-inner .loader { display: none; left: 50%; position: absolute; top: 20%; transform: translate(-50%, -50%); }

.chart-container .chart-inner.loading + .citation { opacity: 0.3; }

.flex-grid { align-content: stretch; display: flex; flex-flow: column wrap; height: 950px; max-width: 1260px; }

.flex-grid .item { background-color: #CCC; min-height: 300px; margin: 10px; padding: 10px; position: relative; min-width: 400px; }

.flex-grid .item .see-more { bottom: 10px; position: absolute; right: 10px; }

@media (max-width: 768px) { .flex-grid { align-content: flex-start; flex-flow: column nowrap; } }

.select2-results__option { padding: 5px 6px; }

.select2-container { max-width: 247px; min-width: 247px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #419AF1; }

.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown { background-color: #fafaf9; border-radius: 0; border: 1px solid #999; color: #29a4d9; outline: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-dropdown .select2-selection__rendered { color: #29a4d9; }

.select2-container--default .select2-selection--single .select2-selection__rendered.active, .select2-container--default .select2-dropdown .select2-selection__rendered.active { color: #666; font-weight: 800; }

.select2-container--default .select2-search--dropdown .select2-search__field { background-color: #fafaf9; border: 1px solid #999; color: #999; outline: none; padding: 3px 6px; }

.select2-container--default.select2-container--open.select2-dropdown--below { border-top-right-radius: 0; border-top-left-radius: 0; border-top: none; }

.select2-container--default.select2-container--open.select2-dropdown--below .select2-selection--single { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.select2-results__message { color: #999; }

@media (max-width: 769px) { .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 14px; }
  .select2-container--default .select2-search--dropdown .select2-search__field { font-size: 14px; padding: 8px 6px; }
  .select2-results__option { font-size: 14px; padding: 8px 6px; }
  .select2-container { max-width: 322px; width: 100% !important; }
  .mobile-only .select2-container { margin-right: 20px; width: 46% !important; }
  .mobile-only .select2-container:last-child { margin-right: 0; } }

.loader:before, .loader:after, .loader { border-radius: 50%; width: 2.5em; height: 2.5em; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation: load7 1.8s infinite ease-in-out; animation: load7 1.8s infinite ease-in-out; }

.loader { color: #999; font-size: 6px; margin: 80px auto; position: relative; text-indent: -9999em; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

.loader:before { left: -3.5em; -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }

.loader:after { left: 3.5em; }

.loader:before, .loader:after { content: ''; position: absolute; top: 0; }

@-webkit-keyframes load7 { 0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; }
  40% { box-shadow: 0 2.5em 0 0; } }

@keyframes load7 { 0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; }
  40% { box-shadow: 0 2.5em 0 0; } }

.filters { background-color: #F4F4F0; padding-bottom: 8px; }

.filters .loading { padding-left: 8px; }

.filter-toggle { color: #F0F0F0; position: absolute; right: 20px; top: 13px; }

.filter-toggle a { border-bottom: 1px solid #F0F0F0; color: #F0F0F0; cursor: pointer; font-size: 12px; line-height: 13px; margin-left: 16px; text-align: right; text-decoration: none; }

.filters, .filter-mobile { position: relative; }

.filters h4, .filter-mobile h4 { background-color: #999; color: white; font-size: 16px; font-weight: 800; line-height: 24px; padding: 8px; text-transform: none; }

.filter-mobile { left: 0; position: fixed; right: 0; top: 0; width: 100vw; z-index: 1030; }

.filter-mobile h4 { margin: 0; }

.filter-mobile .filter-toggle { right: 20px; }

.clear-filters-btn { border-bottom: 1px solid #F0F0F0; color: #F0F0F0; font-size: 12px; line-height: 13px; position: absolute; right: 8px; text-decoration: none; top: 13px; }

.clear-filters-btn:hover { color: white; text-decoration: none; }

.filter-menu { display: block; opacity: 0; }

.filter-menu ul { padding: 0 8px; }

.filter-menu ul label { color: #0988BB; display: block; font-size: 12px; font-weight: 800; margin-bottom: 5px; text-transform: capitalize; }

.filter-menu ul label.active { color: black; }

.filter-menu ul li { margin-bottom: 18px; position: relative; }

.filter-menu ul .dropdown { background-color: #fafaf9; padding-right: 40px; width: 100%; }

.filter-menu ul .metric-selector label { cursor: pointer; font-weight: 400; display: inline-block; }

.filter-menu ul .metric-selector input[type=radio] { cursor: pointer; padding-bottom: 10px; margin-left: 2px; margin-right: 4px; }

.filter-menu ul .metric-selector input[type=radio]:checked + label { color: #666; font-weight: 800; }

.created-month-dropdown + .select2, .month-dropdown + .select2 { margin-right: 7px; }

.time-filter-container { margin: -20px auto 12px; width: 97%; }

.irs-min, .irs-max, .irs-bar, .irs-bar-edge { display: none; }

.irs-single { background: #419AF1; line-height: 10px; padding: 4px 5px; }

.irs-single:after { border-top-color: #419AF1; }

.irs-grid-pol { background: #999; }

.submit-btn { color: #419AF1; cursor: pointer; font-size: 18px; position: absolute; right: 2px; top: 26px; }

.submit-btn:hover { color: #999; }

.submit-btn:before { font-family: FontAwesome; content: '\f0a9'; }

.submit-btn.clear { content: '\f057'; }

.datepicker table tr td.active { background-image: none; border: 0; text-shadow: none; }

.datepicker table tr td.active.active { background-color: #419AF1; }

.form-control { background-color: #fafaf9; border: 1px solid #999; color: #666; font-size: 12px; font-weight: 800; height: 28px; padding: 7px 8px 6px; }

.form-control:focus { box-shadow: none; }

.form-control::-webkit-input-placeholder { color: #419AF1; font-weight: normal; }

.form-control:-moz-placeholder { color: #419AF1; font-weight: normal; }

.form-control::-moz-placeholder { color: #419AF1; font-weight: normal; }

.form-control:-ms-input-placeholder { color: #419AF1; font-weight: normal; }

.input-group-addon { border: 0; border-top: 1px solid #999; border-bottom: 1px solid #999; font-size: 12px; }

.input-daterange { width: 90%; }

.input-daterange input { box-shadow: none; text-align: left; }

.input-daterange input:first-child, .input-daterange input:last-child { border-radius: 0; }

@media (max-width: 769px) { .filters { height: 100vh; left: 0; padding: 0; position: fixed; top: 100vh; width: 100%; z-index: 1031; }
  .filters > h4 { margin: 0; }
  .filters .filter-menu { height: 90vh; margin-top: 12px; overflow: scroll; }
  .filters .loading { padding-top: 12px; }
  .clear-filters-btn { right: 85px; top: 14px; } }
